other/
structured_connectivity/tests.ipynb
structured_connectivity/detect_spikes.ipynb
structured_connectivity/simulations/1*
tests/
learning/data/

# data analysis
data_analysis/
figures_analysis
data_analysis/data_generated/
data_analysis/analysis_tests.ipynb